.body {
    width: 100%;
    height: 100%;
    position: relative;
    background: #0B0B0D
}
.Ellipse1 {
    width: 372.64px;
    height: 483.37px;
    left: 219.71px;
    top: 214.44px;
    position: absolute;
    border-radius: 9999px
}

.ImageFromRawpixelId1230691Original1 {
    width: 803.28px;
    height: 803.28px;
    left: 0px;
    top: 0px;
    position: absolute"

}
.Amanofdesign {
    width: 1100px;
    height: 246px;
    left: 170px;
    top: 312px;
    position: absolute;
    text-align: center;
    background-color: #0B0B0D;
    font-size: 200px;
    font-family: PP Editorial Old;
    font-style: italic;
    font-weight: 200;
    word-wrap: break-word"

}
.MaskGroup{
    width: 290.16px; 
    height: 358.20px; 
    left: 573.28px; 
    top: 451.48px;
    position: absolute
}
.Vector1{
    width: 290.16px;
    height: 358.20px;
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D9D9D9"
}
.P11{
    width: 547.19px; 
    height: 484.95px; 
    left: -127.71px; 
    top: -100.22px; 
    position: absolute;
}
.Frame23{
    width: 1140px; 
    left: 150px; 
    top: 38px;
    position: absolute; 
    justify-content: flex-start; 
    align-items: center;
    gap: 736px; 
    display: inline-flex"
}
.Portfolip2023{
    color: white; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 300; 
    word-wrap: break-word"
}
.Frame22{
    justify-content: flex-end;
    align-items: center; 
    gap: 85px; 
    display: flex
}
.Textbox1{
    width: 303px;
    left: 936px;
    top: 764px;  
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Trap;
    font-weight: 300;
    word-wrap: break-word"
}
.Textbox2{
    width: 264px;
    left: 730px;
    top: 1283px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Trap;
    font-weight: 300;
    word-wrap: break-word"
}
.InfluncedByInteractionDesign{
    width: 303px;
    left: 440px;
    top: 883px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Trap;
    font-weight: 300;word-wrap: break-word"
}
.seperator{
    width: 17px; height: 18px; left: 909px; top: 767px; position: absolute; background: #CEC9C9
}
.Crafted{
    width: 560px;
    left: 147px;
    top: 1204px;
    position: absolute;
    color: #CEC9C9;
    font-size: 151px;
    font-family: PP Editorial Old;
    font-style: italic;
    font-weight: 200;
    line-height: 129.86px;
    word-wrap: break-word
}
.Visuals{
    width: 560px;
    left: 730px;
    top: 1406px;
    position: absolute;
    text-align: right;
    color: #CEC9C9;
    font-size: 151px;
    font-family: PP Editorial Old;
    font-style: italic;
    font-weight: 200;
    line-height: 129.86px;
    word-wrap: break-word
}
.Line5{
    width: 424px;
    height: 0px; 
    left: 218px;
    top: 1516px;
    position: absolute;
    border: 1.50px #1E1E1E solid

}
.AmulNiDukan{
    width: 560px; 
    height: 197px;
    left: 140px;
    top: 1719px;
    position: absolute;
    color: #CEC9C9;
    font-size: 111px;
    font-family: PP Editorial Old;
    font-weight: 400;
    line-height: 97.68px;
    word-wrap: break-word
}
.Samarsa{
    width: 560px;
    height: 99px;
    left: 140px;
    top: 3767px;
    position: absolute;
    color: #CEC9C9;
    font-size: 111px;
    font-family: PP Editorial Old;
    font-weight: 400;
    line-height: 97.68px;
    word-wrap: break-word"
}
.Frame17{
    width: 380px;
    height: 30px;
    left: 140px;
    top: 1952px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    display: inline-flex
}
.Amuldescsription{
    width: 505px;
    height: 149px;
    left: 785px;
    top: 4971px;
    position: absolute;
    text-align: right;
    color: #BAB6B6;
    font-size: 20px;
    font-family: Trap;
    font-weight: 300;
    word-wrap: break-word"
}
.Group33{
    width: 335px;
    height: 70.50px;
    left: 955px;
    top: 3180px;
    position: absolute
}
.Group35{
    width: 335px;
    height: 70.50px;
    left: 955px;
    top: 5129px;
    position: absolute"

}
.Desktop41{
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 5632px;
    position: absolute;
    background: #0B0B0D
}
.Group32{
 width: 335px;
 height: 70.50px;
 left: 150px;
 top: 594px;
 position: absolute
}
.Frame49{
    height: 1226px;
    padding-right: 0.30px;
    left: 730px;
    top: -202px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex
}
.A45{
    width: 595px;
    height: 842px;
    left: 422px;
    top: 6747px;
    position: absolute; 
    background: #CEC9C9
}
.Amanofdesign{
    width: 267px;
    height: 56px;
    left: 164px;
    top: 37px;
    position: absolute;
    text-align: center;
    color: #121212;
    font-size: 48px;
    font-family: PP Editorial Old;
    font-style: italic;
    font-weight: 200;
    word-wrap: break-word
}
.AmanLaliwala{
    width: 91px;
    height: 9px;
    left: 252px;
    top: 239px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 8px;
    font-family: Trap;
    font-weight: 400;
    word-wrap: break-word
}